.aboutUsPage {
  &__description {
    max-width: 800px;
    margin: 0 auto;
    font-weight: 500;
  }
  .section__container {
    gap: 2rem;
  }
  .specializations__container {
    padding-left: 0;
    padding-right: 0;
  }
  @include media(mobile) {
    &__ourSpecialists {
      margin-top: 1.5rem;
    }
  }
}

.media-articles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  gap: 3rem;
  row-gap: 5rem;
  padding: 3rem;
}

.media-article {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.media-article__img {
  width: 100%;
}

@include media(tablet) {
  .media-articles {
    grid-template-columns: 1fr;
  }
}
