.hero {
  display: grid;
  // grid-template-columns: 1fr;
  grid-template-areas:
    "zag zag zag blood"
    "tur tur tur tur"
    "piek piek piek piek";
  gap: 2rem;
  min-height: 90vh;
  padding: 7rem 10rem;
  & > a {
    opacity: 0;
  }

  // .first-col {
  // grid-row: 1 / -1;
  // grid-column: 1;
  // grid-area: zag;
  // }

  .zag {
    grid-area: zag;
  }

  .blood {
    // grid-row: 1;
    // grid-column: 4;
    grid-area: blood;
  }

  .tur {
    grid-area: tur;
  }

  .piek {
    grid-area: piek;
  }
  .second-col {
    // display: flex;
    // flex-direction: column;
    // gap: 2rem;
    // height: 100%;

    .card,
    & > a {
      flex-grow: 1;
    }
  }

  .card {
    min-height: 60vh;
  }

  @include media(tablet) {
    padding: 2rem;

    .card {
      min-height: 200px;
    }
  }

  @include media(mobile) {
    grid-template-columns: 1fr;
    .third-col {
      transform: translateX(0);
    }
    & > a {
      opacity: 1;
    }
  }
}
