.services {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 2rem;
    margin-top: 2rem;
    
    .card {
        height: 300px;
        
    }
    @include media(tablet) {
        grid-template-columns: 1fr 1fr;
        .card {
            height: 150px;
            &__title {
                font-size: map-get($fontSize, s);
            }
        }
    }
    @include media(mobile) {
        .card {
            &__title {
                font-size: map-get($fontSize, xs);
                left:50%;
                transform:translateX(-50%);
            }
        }
    }
}