.avatar {
    display:grid;
    grid-template-rows: 250px 1fr;
    gap: 1.5rem;
    padding: 3rem;
    box-shadow: map-get($boxShadow, card);
    border-radius: map-get($borderRadius, s);
    transition: all .2s;
    font-weight: 500;
    &__img {
        border-radius: map-get($borderRadius, s);
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &:hover {
        background: #79bdffa7;
        transform: translateY(-10px);
    }

    @include media(tablet) {
        &:hover {
            transform: translateY(0);
            background: $white;
        }
    }

    @include media(mobile) {
        grid-template-rows: 150px 1fr;
        justify-items: center;
        padding: 2rem;
        &__img {
            max-width: 200px;
        }
        &__description{
            text-align: center;
        }
    }
    
}