.button {
    border:none;
    padding:1.4rem 2rem;
    background-color: $blue;
    border-radius: map-get($borderRadius, small);
    border: 2px solid $blue;
    color: $white;
    transition: all 0.3s ease;
    font-size: map-get($fontSize, l);
    &:hover{
        background-color: transparent;
        color: $blue;
    }
    @include media(tablet) {
        padding:1.2rem 1rem;
    }
    @include media(mobile) {
        font-size: map-get($fontSize, m);
    }
}