.footer {
    background-color: $lightGrey;
    padding-top: 0;
    padding-bottom: 2rem;
    color: $primary;
    margin-top: 15rem;

    &__heading {
        margin:0 auto;
        width: 80%;
        color:white;
        background-color: $blue;
        padding: 3rem;
        transform:translateY(-50%);
        text-align:center;
        border-radius: map-get($borderRadius, m);
        box-shadow: map-get($boxShadow, card);
    }

    &__links {
        display: flex;
        justify-content: space-evenly;
        margin: 2rem 0 2rem;
        
        &__container {
            display: grid;
            grid-template-rows: 1fr auto;
            padding: 3rem;
        }
    }

    &__link {
        display:flex;
        flex-direction: column;
        gap: 2rem;
        a {
            color: $primary;
        }
        &__title{
            flex-grow:1;
        }
        &__description {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            flex-grow: 1;
        }

        &__icons {
            display:flex;

            svg {
                transform: scale(0.5);
                transform-origin: left;
                cursor: pointer;
            }

            &__icons {
                display:flex;
            }

            .paragraph {
                display:flex;
                justify-self:center;
            }
        }
    }

    &__contactUs {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem 0 0;
        padding:3rem;
    }

    &__rights {
        border-top:1px solid $blue;
        padding-top:3rem;
        text-align: center;
        color: $blue;
        font-weight: 500;
    }

    @include media(tablet) {
        &__heading {
            padding:1.5rem 1rem;
        }

        &__links {
            flex-wrap:wrap;
            &__container {
                padding: 3rem 1rem;
            }

        }

        &__links,
        &__contactUs,
        &__socials {
            margin: 0;
        }
    }
    
    @include media(mobile) {
        margin-top: 5rem;
        &__links {
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;
            &__container {
                    padding: 1rem 2rem;
            }
        }

        &__link {
            gap:1rem;
        }

        &__links,
        &__contactUs,
        &__socials {
            
        }
    }
}