.heading {
    font-size: map-get($fontSize, l);
    font-weight: 800;
    color: $blue;
    line-height:150%;
    letter-spacing:0.9px;
    &--isBig {
        font-size: map-get($fontSize, xl);
    }

    @include media(tablet) {
        font-size: map-get($fontSize, m);
        &--isBig {
            font-size: map-get($fontSize, m);
        }   
    }
    @include media(mobile) {
        font-size: map-get($fontSize, m);
        &--isBig {
            font-size: map-get($fontSize, m);
        }   
    }
    &--center {
        text-align:center;
    }
    &--white {
        color: $white;
    }
}