.section {
    margin:0 auto;
    &__container {
        max-width: 1400px;
        padding: 10rem 2rem;
        margin: 0 auto;
        min-height: 60vh;
        &--pt0 {
            padding-top: 0;
        }

        &--first{
            margin-top: $nav-desktop-height;

            @include media(tablet) {
                padding-top: $nav-mobile-height;
            }
        }

        @include media(tablet) {
            padding: 3rem 2rem 2rem;
            min-height: unset;
        }
    }
}