.section {
    margin:0 auto;
    &__container {
        max-width: 1400px;
        padding: 10rem 2rem;
        margin: 0 auto;
        &--first{
            margin-top: $nav-desktop-height;
            @include media(tablet) {
                padding-top: $nav-mobile-height;
            }
        }
    }
}