// breakpoints

$breakpoint-desktop: 1025px;
$breakpoint-tablet: $breakpoint-desktop - 0.3px;
$breakpoint-mobile: 480px;

$primary: #333;
$secondary: #222;
$lightGrey:#F1F5F8;
$blue:#1580eb;
$lightBlue:#1580eb69;
$black:#000;
$white:#fff;

// navigation

$nav-desktop-height: 10rem;
$nav-mobile-height: 8rem;


$borderRadius: (
    s: 1rem,
    m: 1.5rem,
    l: 2rem,
);

$fontSize: (
    xs: 1.2rem,
    s: 1.3rem,
    m: 1.5rem,
    l: 2rem,
    xl: 3.5rem,
);

$padding: (
    xs: 1rem,
    s: 1.3rem,
    m: 2rem,
    l: 5rem,
    xl: 2.5rem,
);

$boxShadow: (
    card: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px,
    small: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px,
)