// breakpoints

$breakpoint-desktop: 1025px;
$breakpoint-tablet: $breakpoint-desktop - 0.3px;
$breakpoint-mobile: 480px;

$primary: #333;
$secondary: #222;
$lightGrey:#F1F5F8;
$blue:#1580eb;
$black:#000;
$white:#fff;

// navigation

$nav-desktop-height: 15rem;
$nav-mobile-height: 10rem;


$borderRadius: (
    small: 1rem,
    medium: 1.5rem,
    big: 2rem,
);

$fontSize: (
    xs: 1rem,
    s: 1.2rem,
    m: 1.4rem,
    l: 1.6rem,
    xl: 2.5rem,
)